.text-nav {
    color: #ffffff!important;
}

#main .carousel-inner img {

    max-height: 75vh;
    object-fit: cover;

}
#carousel {
    position: relative;
}

#carousel .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background-color: rgba(0, 0, 0, 0,5);
    color: #fcf827;

}
#carousel .overlay .container,
#carousel .overlay .row {
    height: 100%;
}
